extends ../layout

block content

  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js')

  .page-header
    h3 Create Tournament
  .row
    .col-sm-6
      p Upload Tournament logo
      <img id="golferAvar" src="/image/simple.png" style="max-width: 300px;" alt="Mountain View">
      form(id='myFile', role='form', enctype='multipart/form-data', action='/api/upload', method='POST')
        .form-group
          label.control-label File Input
          input(type='file', name='myFile')

  form.form-horizontal(id='signup-form', method='POST')
    input(type="hidden", name="tournamentId", value=tournament._id)
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='userAvatar', value='')
    input(type='hidden', name='member', value='')
    .form-group
      label.col-sm-3.control-label(for='name') Tên giải đấu
      .col-sm-7
        input.form-control(type='text', value=tournament.name, name='name', id='name', placeholder='Tên giải đấu', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='type') Thể loại
      .col-sm-7
        select(name='type', value=tournament.type)
          option(value='1') Giải đấu
          option(value='2') Thi đấu
    .form-group
      label.col-sm-3.control-label(for='info') Thông tin giải đấu
      .col-sm-7
        input.form-control(type='text', value=tournament.info, name='info', id='info', placeholder='Thông tin giải đấu')

    .form-group
      label.col-sm-3.control-label(for='member') Golfer tham gia
      .col-sm-7
        ul.list-group.member-list
        | Thêm
        input.form-control(type='text', name='golfer', id='golfer', placeholder='nhập tìm kiếm...', autocomplete="off")
        ul.list-group.suggest-list

    .form-group
      .col-sm-12
        button.btn.btn-success(type='submit')
          i.fa.fa-plus-square-o
          | Cập nhật giải đấu
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script
    include createTournament.js
    
    
